<div>
  <%= @job.title %>
</div>
<ul>
  <li>Active:</li>
  <li>Last contacted: <%= @job.last_contacted ? @job.last_contacted : "no contact yet!" %>
    <%= simple_form_for @job, url: job_path, method: :put, remote: true do |f| %>
      <%= f.input :last_contacted, as: :string, class: "date_picker" %>
      <%= f.button :submit, class: "small button" %>
    <% end %>
  </li>
  <li>Contacts
    <ol>
      <li>first</li>
      <li>second</li>
    </ol>
  </li>
</ul>

<div class="notes">
  <%= simple_form_for @job, url: job_path, method: :put, remote: true do |f| %>
    <%= f.input :notes, input_html: { value: @job.notes } %>
    <%= f.button :submit, class: "small button" %>
  <% end %>
</div>

<script>
  $(function() {
    $("#job_last_contacted").datepicker({ dateFormat: "yy-mm-dd" })
  });
</script>