<div id="email">
  <%= @user.email %>
</div>
<div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</div>

<%= link_to "Add new job", "#", data: { reveal_id: "new-job" } %>
<!-- make job link live within each company -->
<%= link_to "Add new company", "#", data: { reveal_id: "new-company" } %>

<div class="row">
  <div class="large-5 columns section-container accordion" id="company-list" data-section="accordion">
    <% @user.companies.each do |company| %>
      <div class="section">
        <div class="title" data-section-title>
          <%= company.name %>
        </div>
          <% company.jobs.each do |job| %>
            <div class="content" data-section-content>
              <%= link_to job_url(job), remote: true, class: "job-panel" do %>
                <ul class="panel">
                  <li><%= "Job title: #{job.title}" %></li>
                  <li><%= "Last contacted: #{job.last_contacted}" %></li>
                </ul>
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="job-container large-7 columns">
    <div class="job-info panel">
    </div>
  </div>
</div>

<%= render partial: "jobs/new_job_modal", locals: { new_job: Job.new } %>
<%= render partial: "companies/new_company_modal", locals: { new_company: Company.new } %>

<script>
  $(function() {
    $(".job-panel").on("ajax:success", function(event, data) {
      $(".job-info").html(data);
    });
    $(".job-container").on("ajax:success", function(event, data) {
      $(".job-info").html(data);
    });
  });
</script>

